.stats {
  span {
    display: inline-flex;
    font-size: 13px;
    align-items: center;
    &:not(:last-child):after {
      content: "|";
      margin: 0 8px;
      color: #c2c2c2
    }
  }
  
  i {
    margin-right: 5px;
  }
}
.pill {
  display: inline-flex;
  font-size: 13px;
  padding: 4px 10px;
  border: 1px solid;
  border-radius: 20px;
  &:not(:last-child) {
    margin-right: 15px;
  }
  i {
    margin-right: 5px;
  }
}