.single-result {
  margin: 0 0 20px;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 10px 15px;
  .description {
    max-height: 100px;
    overflow: auto;
  }
  a {
    text-decoration: none;
    color: #ffffff;
    
    i {
      font-size: 14px;
      line-height: 1;
    }
  }
  h2 {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}
.meta-details {
  display: flex;
  width: 100%;
  span {
    display: flex;
    font-size: 13px;
    padding: 4px 10px;
    border: 1px solid;
    border-radius: 20px;
    &:not(:last-child) {
      margin-right: 15px;
    }
    i {
      margin-right: 5px;
    }
  }
}